<div class="row">
  <div class="col text-center ">
    <h1 class="display-4 my-3">Welcome to Charts App.</h1>
  </div>
</div>
<!-- hero end -->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6" >
    <div class="chart">
      <canvas class="mt-4" baseChart
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins">
      </canvas>

    </div>
  </div>
  <div class="col-md-2">

  </div>
</div>
<div class="row mt-4">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <p class="muted text-danger">It's a static chart.</p>
    <p class="lead text-primary">Click on "Charts" dropdown for Dynamic Charts</p>
  </div>
  <div class="col-md-2"></div>
</div>
